!!!5
html
  head
    title #{title} - Admin Interface
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Admin Interface
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Jade and Stylus
