extend adminlayout
block content
  p
    | hi admin!
  p
    | Admin page with tools<br>
    | <a href='http://127.0.0.1:3700/a/u'>add user</a><br>
    | <a href='http://127.0.0.1:3700/a/cl'>add company location</a>
  a(href="http://example.com") test link
