!!!5
html
  head
    title - error page
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Error Page, type: #{type}
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Jade and Stylus
