extend layout
block content
  p
    | Site down for maintenance.
    | Thanks for your understanding
  p
    | Just another paragraph.
    | - classifoid team
block sidebar
  .widget
    h1 Widget
    p
      | Need to look for something right now?
      |    Try ebay
    p
      | Need to look for something right now?
      |    Try amazon
